{{>header}}
    <p>
      Bienvenido a la pagina de educacion continua
    </p>
    <p>
      Registro
    </p>

    <form action="/registro" method="post">
      <input type="text" name="nombre">
      <input type="number" name="cedula">
      <input type="text" name="correo">
      <input type="number" name="telefono">
      <button>registrarse</button>
    </form>
{{>footer}}
