{{>header}}
    <h2 style="text-align:center">Bienvenido a la pagina de educación continua!</h2>

    <button type="button" name="registrarse" onclick="location.href='./registro'">Registrate!</button>

    <button type="button" name="ingresar" onclick="location.href='./login'">Ingresar</button>
    <br>
    <br>
    <h2>Listado de cursos</h2>
    {{{listarCursos}}}


{{>footer}}
