{{>header}}
    <h2 style="text-align:center">Bienvenido a la pagina de educación continua!</h2>
    <div class="container">
     <div class="form-row">
    <div class="form-group col-md-6">
    	<button type="button" name="registrarse" onclick="location.href='./registro'"  class="btn btn-dark">Registrate!</button>
    <button type="button" name="ingresar" onclick="location.href='./login'"  class="btn btn-dark">Ingresar</button>
    </div>
</div>
</div>
    
    <br>
    <br>
    <h2>Listado de cursos</h2>
    {{{listarCursos}}}


{{>footer}}
