{{>header}}
    <p>
      Bienvenido a la pagina de educación continua.
    </p>

    <button type="button" name="registrarse" onclick="location.href='./registro'">Registrate!</button>

    <button type="button" name="ingresar" onclick="location.href='./login'">Ingresar</button>
    <br>
    <br>
    <h2>Listado de cursos</h2>
    {{{listar}}}


{{>footer}}
